
#featured{
    background-color: #f9ddff;
    padding: 20px 28px;
    margin-top: 6rem;
}
#heading *{
    margin: 0;
    padding: 0;
}
#heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#heading .first{
    color: #6d3a77;
}
#heading .first span{
    margin-right: 5px;
}
#heading .second{
    color: #6d3a77;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
#line{
    width: 45%;
    height: 4px;
    background-color: #6d3a77;
    border: none;
}

#courses .physical{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    /* padding: 0 28px; */
}
#courses .physical .course-card {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 350px;
    align-items: center;
  }
  
  .course-image-container {
    border: 1px solid #000;
    padding: 5px;
    overflow: hidden;
  }
  
  .course-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  
  .course-title {
    font-size: 2.5rem;
    color: #6d3a77;
    margin: 0;
    text-align: center;
  }
  
  .course-description {
    font-size: 1rem;
    color: #666;
    text-align: center;
    line-height: 22px;
  }

  .course-button *{
    margin: 0;
    padding: 0;
  }
  
  .course-button {
    background-color: #6d3a77;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
    gap: 8px;
    overflow: hidden;
  }

  .course-row1 {
    display: flex;  
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin: 40px 0;
  }
  

  .course-row2 {
    display: flex;  
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin: 40px 0;
  }
  
  @media (max-width: 767px) {

    #featured {
      padding: 10px 15px;
      margin-top: 4rem;
    }
  

    #courses .physical {
      padding: 0;
      margin-top: 20px;
    }
  

    #courses .physical .course-card {
      width: 100%;
      max-width: 100%;
      padding: 0;
      margin: 0 auto;
    }
  
    .course-row1,
    .course-row2 {
      flex-direction: column;
      gap: 16px;
      margin: 20px 0;
    }
  }
  