
#welcome{
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    padding: 0 28px;
}

.images{
    position: relative;
}
.welcome-big{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* padding-left: 56px; */
}
.welcome-small {
    position: absolute;
    top: 230px;
    right: 50px;
    width: 40% ;
    height: 320px ;
    object-fit: cover;
}
.students *{
    margin: 0;
    padding: 0;
}
 .students{
    position: absolute;
    background-color: #ffffff;
    padding: 20px 30px;
    /* width: 100%;
    max-width: 180px; */
    bottom: 120px;
    left: 200px;
    border-radius: 8px;
    
}
.number{
    color: #6d3a77;
    font-size: 3rem;
    font-weight: bold;  
}
 .text{
    color: #6d3a77;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
}
.texts *{
    margin: 0;
    padding: 0;
}
.texts{
    padding: 40px 0;
}
.texts .margin{
    margin-top: 60px;
}

.texts .welcometo{
    color: #6d3a77;
    font-size: 2.5rem;
}
.texts h2 {
    color: #0f0c0c;
    font-size: 2.7rem;
    font-weight: bold;
}
.texts .margin .hr{
    width: 550px ;
    height: 1px;
    background-color: #e4e4e4;
    border: none;
}
.texts p{
    color: #0f0c0cb2;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
}
/* Button */
.animated-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #6d3a77;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .animated-button .button-text {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    transition: color 0.4s ease;
  }
  
  
  .animated-button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(13, 14, 61);
    z-index: 1;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    transition: clip-path 0.4s ease-in-out;
  }
  
  .animated-button:hover .button-text{
    color: #fff;
  }

  @media(max-width: 767px) {
    #welcome{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 15px;
    }
    .images{
        height: 650px;
    }
    
 
    .texts{
        padding: 20px 0;
    }
    .texts .margin{
        margin-top: 20px;
    }
    .texts .welcometo{
        font-size: 2rem;
    }
    .texts h2{
        font-size: 2.2rem;
    }
    .texts .margin .hr{
        width: 97%;
    }
    .texts p{
        font-size: 1rem;
    }
}